<div class="row">
  <div class="col-auto">
    <img [src]="album.coverArt" />
  </div>
  <div *ngIf="currentTab !== TabOption.None" class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item" (click)="currentTab = TabOption.Info">
        <a class="nav-link" [class.active]="currentTab === TabOption.Info">
          Info
        </a>
      </li>
      <li class="nav-item" (click)="onSelectTab(TabOption.Tracks)">
        <a class="nav-link" [class.active]="currentTab === TabOption.Tracks">
          Tracks
        </a>
      </li>
    </ul>

    <div [ngSwitch]="currentTab">
      <ng-container *ngSwitchCase="TabOption.Info">

        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [ngModel]="album.title"
            (ngModelChange)="album.title = $event; onAlbumChanges()"
          />
        </div>
        <div class="form-group">
          <label for="artist">Artist</label>
          <input
            type="text"
            class="form-control"
            id="artist"
            [ngModel]="album.artist"
            (ngModelChange)="album.artist = $event; onAlbumChanges()"
          />
        </div>
        <div>
          <label for="releaseDate">Release date</label>
          <input
            type="date"
            class="form-control"
            id="releaseDate"
            [ngModel]="album.releaseDate | date: 'yyyy-MM-dd'"
            (ngModelChange)="album.releaseDate = $event; onAlbumChanges()"
          />
        </div>

      </ng-container>
      <ng-container *ngSwitchCase="TabOption.Tracks">
        <table class="table">
          <tbody>
            <tr *ngFor="let track of album.tracks">
              <th scope="row">{{ track.order }}</th>
              <td>{{ track.title }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>
